* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#nav {
    height: 100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 30px;
    padding: 0 30px;
}

#nav h4 {
    font-size: 20px;
    font-weight: 600;
}

#nav i {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    border-radius: 50%;
}

#nav i:hover {
    background-color: white;
    color: black;
}

#center {
    width: 100%;
    padding: 20px 90px;
}

#center h1 {
    font-size: 4.1vw;
    font-weight: 500;
    line-height: 4.4vw;
}

#center-in {
    width: 100%;
    margin-top: 47px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#center-in p {
    font-size: 1.4vw;
    font-weight: 500;
    line-height: 1.8vw;
}

#right {
    width: 20%;
}

.elem {
    padding: 20px 0;
    border-top: 2px solid #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.elem i {
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}

.elem a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.elem:hover i {
    opacity: 1;
}

#bottom {
    height: 34.7%;
    width: 100%;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1508418717103-8b56bcf03360?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 23%;
}

@media (max-width: 600px) {
    #nav {
        height: 60px;
        gap: 23px;
        padding: 0 20px;
    }

    #nav h4 {
        font-size: 14px;
        font-weight: 600;
    }

    #nav i {
        background-color: black;
        color: white;
        font-size: 12px;
        padding: 7.5px;
        font-weight: 500;
        border-radius: 50%;
    }

    #nav i:hover {
        background-color: white;
        color: black;
    }

    #center {
        width: 100%;
        padding: 15px 20px;
    }

    #center h1 {
        font-size: 10vw;
        font-weight: 500;
        line-height: 10.08vw;
    }

    #center-in {
        width: 100%;
        margin-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    #center-in p {
        font-size: 4vw;
        font-weight: 500;
        line-height: 5vw;
    }

    #right {
        width: 100%;
    }

    .elem {
        padding: 10px 0;
        border-top: 1.5px solid #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .elem i {
        font-size: 15px;
        font-weight: 600;
        opacity: 1;
        color: #303030;
        padding-right: 5px;
    }

    .elem a {
        color: #303030;
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
    }

    #bottom {
        height: 46.7%;
        width: 100%;
        background-image: url(https://images.unsplash.com/photo-1508418717103-8b56bcf03360?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
        background-position: 0 25%;
    }
}